@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    /* Fuentes */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Colores del Sistema - elidesava */

    --color-primary-50: #ed633e;
    --color-primary-100: #ede9fe;
    --color-primary-200: #ddd6fe;
    --color-primary-300: #c4b5fd;
    --color-primary-400: #a78bfa;
    --color-primary-500: #F49F67;
    --color-primary-600: #f28e1e;  
    --color-primary-700: #EE7522;
    --color-primary-800: #1d1448;
    --color-primary-900: #150f30;
    --color-primary-950: #0d0a1f;
    
    

--color-accent-50:  #FFF8E1;
--color-accent-100: #FFECB3;
--color-accent-200: #FFE082;
--color-accent-300: #FFD54F;
--color-accent-400: #FFCA28;
--color-accent-500: #FABD1E; /* COLOR BASE */
--color-accent-600: #E0A800;
--color-accent-700: #C49000;
--color-accent-800: #A67800;
--color-accent-900: #8A6200;
--color-accent-950: #5A3E00;
}

/* Animaciones personalizadas para Loader */
@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes progress {
    0% { width: 0%; }
    50% { width: 70%; }
    100% { width: 100%; }
}